<% include ../partials/header %>

<div class="container">

    <div class="row">
        
        <div class="col-md-4">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            
            <div class="thumbnail">
                <img src="<%= user.avatar %>" alt="user profile image">
            </div>
            
            <div class="caption">
                <a href="mailto:<%= user.email %>"><%= user.email %></a>
            </div>
            
            <% if(currentUser && (user.id === currentUser.id){ %>
                <a class="btn btn-s btn-warning" href="/users/<%= user._id %>/edit">Edit Profile</a>
            <% } %>
            
        </div>
        
        <div class="col-md-8">
            
            <h1><%= user.firstName %>'s Campgrounds</h1>
            
            <ul>
                <% campgrounds.forEach(function(campground){ %>
                    <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
                <% }); %>
            </ul>
            
            <% if(currentUser && user.id === currentUser.id){ %>
                <a class="btn btn-s btn-primary" href="/campgrounds/new">Add New Campground</a>
            <% } %>
            
        </div>
        
    </div>

</div>

<% include ../partials/footer %>